.title {
    display: flex;
    align-items: center;
}

.title__left {
    display: flex;
    align-items: center;
}

.title__mainInfo h2, .title__mainInfo p {
    margin: 0px;
    padding: 0px;
}

.title__temprature {
    display: flex;
    margin-left: auto;
}

.title__temprature h2 {
    font-size: 54px;
    padding: 0px;
    margin: 0px;
    line-height: 42px;
}

.title__temprature p {
    padding: 0px;
    margin: 0px;
}

@media screen and (max-width: 800px) {
    .title__temprature {
        padding-right: 20px;
    }
}

@media screen and (max-width: 445px) {
    .title {
        flex-direction: column;
        justify-content: center;
        margin-bottom: 30px;
    }
    
    .title__left {
        flex-direction: column;
        align-items: center;
    }

    .title__left h2, .title__left p {
        text-align: center;
    }

    .title__temprature {
        margin-left: 0;
        margin-top: 20px;
        padding-right: 0px;
    }
}