.App {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.search-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

#loading-screen {
    background-color: #ffffff;
    width: 100%;
    display: block;
    z-index: 1000;
    text-align: center;   
}

.lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #000;
    border-color: #000 transparent #000 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
  

@media screen and (max-width: 445px) {
    #loading-screen {
        height: calc(100% - 85px);
        position: fixed;
        bottom: 0px;
    }
}

@media screen and (max-width: 800px) {
    .search-container {
        margin-top: 0px;
        margin-bottom: 20px;
    }
}