.dayForcast {
    display: flex;
    align-items: center;
}

.dayForcast__left p {
    padding: 0px;
    margin: 0px;
}

.dayForcast__left .dayForcast__left-date {
    opacity: 0.5;
}

.dayForcast__right {
    margin-left: auto;
    padding-right: 20px;
}

.dayForcast__right h3 span {
    font-weight: 400;
    font-size: 14px;
    vertical-align: top;
}

@media screen and (max-width: 445px) {
    .dayForcast {
        margin-bottom: 20px;
    }

    .dayForcast__left {
        padding-right: 20px;
    }

    .dayForcast__icon {
        width: 48px;
    }    
}