.dayChart {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.dayChart::-webkit-scrollbar {
    display: none; 
}

.VictoryContainer {
    pointer-events: all;
    touch-action: auto !important;
    scrollbar-width: none;
}

.VictoryContainer svg:first-of-type, .VictoryContainer div:first-of-type {
    width: 800px !important;
}